{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Chirper</h1>

<body>
    {% for chirp in chirps %}
    <div style='margin:30px'>
        <h4>{{chirp['username']}}</h4>
        <p>{{chirp['text']}}</p>
        <p>written at {{chirp['time']}}</p>
    </div>
    {% endfor %}

    <p>page: {{page}}</p>
    {% if page>0 %}
    <a href="{{url_for('root', page=page-1)}}">prev</a>
    {% endif %}

    {% if chirps|length == 20%}
    <a href="{{url_for('root', page=page+1)}}">next</a>
    {% endif %}

</body>


{% endblock %}
