{% extends 'base.html' %}

{% block content %}

<h2>Search</h2>

<form action="search" method="GET">
    <p><input type=text name=search_term>
    <input type=submit value=&#x1F50D>
</form>

{% if searched %}
    {% for chirp in chirps %}
    <div style='margin:30px'>
        <h4>{{chirp['username']}}</h4>
        <p>{{chirp['text']|safe}}</p>
        <p>written at {{chirp['time']}}</p>
    </div>
    {% endfor %}
    
    
    <p>page: {{page}}</p>
    {% if page>0 %}
    <a href="{{url_for('search', page=page-1)}}">prev</a>
    {% endif %}

    {% if chirps|length == 20%}
    <a href="{{url_for('search', page=page+1)}}">next</a>
    {% endif %}
{% endif %}


{% endblock %}
